@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root{
  --primary:#F8FAFC;
  --font-primary:#363062;

}
body{
  background-color:var(--primary);
  color:var(--font-primary);
  font-family: 'Inter',sans-serif;
}
h1{
  font-weight: 700;
}
section{
  margin-top: 2rem;
}
